<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="judul">
    <ion-img class="brilogo" src="assets/brilogo.png"> </ion-img>
    <h1> MDM Implementation </h1>
  </div>


  <div class="bigcontent">
  
  <div class="content1">
    <ion-item class="DedupCustomer"> 
          <ion-label class="deduplabel">
            <ion-icon name="people"></ion-icon>
            <span>Dedup Customer</span>
          </ion-label>
    </ion-item>
    </div>
  
  <div class="content2">
    <ion-item class="SearchCustomer"> 
        
          <ion-label class="searchlabel">
            <ion-icon name="search">Search Customer</ion-icon>
         <span>Search Customer</span>
        </ion-label>
    </ion-item>
  </div>

  </div>
  

  
    
  
   

</ion-content>
