<ion-header>
  <ion-toolbar>
    <ion-title>
      MDM Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div >
        <div class="judul">
          <ion-img src="/assets/brilogo.png"></ion-img>
          <h1>MDM Application</h1>
        </div>
        <div class="button-size-left">
            <ion-button class="dedupBtn" expand="block" routerLink="/dedup" routerDirection="root">
            <ion-icon name="people"></ion-icon>
            Deduplication Customer
          </ion-button>
        </div>
        <div class="button-size-right">
            <ion-button class="dedupBtn" expand="block" routerLink="/inquiry" routerDirection="root">
              <ion-icon name="search"></ion-icon>
              Inquiry Customer
            </ion-button>
          </div>
      </div>
</ion-content>
